<!DOCTYPE html>
<html>
<head>
<title> Login Webpage</title>
<link rel="stylesheet" type= "text/css" href= "css/style.css">
</head>
<body>
<h1> login </h1> <br>
<div class="login">
    <form id="login" method ="get" action = "login.html">
        <label> <b> Username </b>
        </label>
        <input type="text" name="username" id="username" placeholder="userame">
        <br><br>
        <label> <b> Password </b>
        </label>
        <input type="password" name="password" id="password" placeholder="password">
        <br><br>
        <input type="button" name="log" id="log" value="login here">
    </form>
</div>
</body>
</html>
        