<!DOCTYPE html>
<html>
<head>
<title> Registraion Webpage</title>
<link rel="stylesheet" type= "text/css" href= "css/style.css">
</head>
<body>
<h1> registration </h1> <br>
<div class="register">
    <form id="register" method ="post" action = "register.html">
        <label> <b> First name </b>
        </label>
        <input type="text" name="first name" id="firstname" placeholder="firstname">
        <br><br>
        <label> <b> Last name </b>
        </label>
        <input type="text" name="last name" id="lastname" placeholder="lastname">
        <br><br>
        <label> <b> Username </b>
        </label>
        <input type="text" name="username" id="username" placeholder="userame">
        <br><br>
        <label> <b> Password </b>
        </label>
        <input type="password" name="password" id="password" placeholder="password">
        <br><br>
        <input type="button" name="register" id="register" value="register">
        <input type="button" name="Loginpage" id="Loginpage" value="Loginpage" action ="login.html">
    </form>
</div>
</body>
</html>
        